header {
	height: 70px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
}

#airbnb_logo{
	background-image: url("../images/logo.png");
	width: 142px;
	height: 100%;
	text-align: left;
	margin-left: 20px;
	background-position: center;
	background-repeat: no-repeat;
}
